body {
  font-family: 'Averta-Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $black;
  font-size: $font-size-m;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}
