$black: #000000;
$dark-gray: #999999;
$grayish-red: #cac7c7;
$slightly-desaturated-blue: #6686b5;
$very-dark-grayish-blue: #55565a;
$very-soft-blue: #7ca3dc;
$white: #ffffff;

$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
